/* These styles override the Casper navbar defaults */
/* Poistin ekan, koska svidduilu darkthemene kaa*/


.home-template.has-cover .gh-head-button {
  color: #fff;
  background-color: var(--color-darkgrey);
}

/* Define the size of the sections */
.p-outer {
  padding: 14vmin max(4vmin, 20px) 0;
}

.p-outer:first-of-type {
  background-image: linear-gradient(-225deg, #1c2f848a 0%, #C5C1FF 56%, #FFBAC3 100%); /* Light background color of hero section Vaihdoin tähän gradient taustan. */
}

.p-inner {
  max-width: 1200px; /* Defines the max width of your content */
  margin-inline: auto; /* Centers the content */
}

/* Hero section */
.p-hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2vmin;
}

.p-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures buttons are at the bottom of the container */
}

.p-hero-right img {
  width: 100%;
  max-height: 300px;
  object-fit: cover; /* Fills the container with the image */
  transform: translateY(75px); /* Move the image slightly to create an offset effect */
}

.p-hero h1 {
  margin-top: 65px;
}

.p-hero p {
  margin: 10px;
    font-size: 2rem;
  line-height: 1.5;
}

.p-hero p + p {
  margin-top: 2rem;
}

.p-hero-left a {
  color: var(--ghost-accent-color); /* Color links with the Ghost accent color defined in Admin */
}

.p-hero-buttons {
  display: flex;
  gap: 1.6rem;
  margin-block-start: 8vmin;
}

.p-hero-buttons button,
.p-hero-buttons a {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.005em;
  background-color: var(--ghost-accent-color);
  border: 3px solid var(--ghost-accent-color);
  border-radius: 6px;
}

.p-hero-buttons a {
  color: #fff;
  background-color: transparent;
  border: 3px solid;
  transition: all 0.2s;
}

.p-hero-buttons a:hover {
  color: #fff;
  background-color: var(--ghost-accent-color);
  border-color: var(--ghost-accent-color);
}

/* Posts */
.p-post-container {
  margin-block: 10.2vmin;
  margin-inline: auto;
}

.p-post-container h2 {
  text-transform: uppercase;
}

.p-posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Define a post grid, where cards can be minimum 300px and maximum the size of the column */
  gap: 4vmin;
}

.p-post-card img {
  width: 100%;
  max-height: 500px;
  aspect-ratio: 16 / 9; /* All images will have an HD image ratio */
  object-fit: cover;
}

.p-post-card h3 {
  padding-inline: 10px;
  margin-block: 10px 0;
}

.p-post-card a:hover {
  color: var(--ghost-accent-color);
}

/* Change layout at larger viewport sizes */
@media (min-width: 768px) {
  .p-hero {
    grid-template-columns: 1fr 1fr; /* Hero section has 2 columns */
  }

  .p-hero-buttons {
    transform: translateY(50%); /* Offset buttons */
  }

  .p-hero-right img {
    max-height: none;
    aspect-ratio: 1 / 1; /* Make the image a square */
    filter: drop-shadow(2px 3px 10px rgb(0 0 0 / 0.25)); /* Add a shadow*/
    object-fit: contain; /* But also ensure it's not cropped */
    object-position: right; /* Position image to far right */
  }
}

/*Crazy zone*/

html, body {
    height: 100%;
  }
  
  body {
    background-color: #000;
    background-size: cover;
  }
  
  .firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
  }
  .firefly::before, .firefly::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
  }
  .firefly::before {
    background: black;
    opacity: 0.4;
    animation: drift ease alternate infinite;
  }
  .firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
  }
  
  .firefly:nth-child(1) {
    animation-name: move1;
  }
  .firefly:nth-child(1)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(1)::after {
    animation-duration: 16s, 7850ms;
    animation-delay: 0ms, 3994ms;
  }
  
  @keyframes move1 {
    0% {
      transform: translateX(-33vw) translateY(-48vh) scale(0.93);
    }
    5.5555555556% {
      transform: translateX(-22vw) translateY(-22vh) scale(0.34);
    }
    11.1111111111% {
      transform: translateX(-34vw) translateY(-42vh) scale(0.98);
    }
    16.6666666667% {
      transform: translateX(8vw) translateY(-22vh) scale(0.53);
    }
    22.2222222222% {
      transform: translateX(-19vw) translateY(1vh) scale(0.67);
    }
    27.7777777778% {
      transform: translateX(8vw) translateY(-15vh) scale(0.61);
    }
    33.3333333333% {
      transform: translateX(-1vw) translateY(27vh) scale(0.37);
    }
    38.8888888889% {
      transform: translateX(3vw) translateY(-36vh) scale(0.52);
    }
    44.4444444444% {
      transform: translateX(9vw) translateY(-25vh) scale(0.33);
    }
    50% {
      transform: translateX(2vw) translateY(-31vh) scale(0.28);
    }
    55.5555555556% {
      transform: translateX(6vw) translateY(-27vh) scale(0.94);
    }
    61.1111111111% {
      transform: translateX(7vw) translateY(-12vh) scale(0.71);
    }
    66.6666666667% {
      transform: translateX(36vw) translateY(14vh) scale(0.5);
    }
    72.2222222222% {
      transform: translateX(38vw) translateY(15vh) scale(0.45);
    }
    77.7777777778% {
      transform: translateX(-42vw) translateY(-6vh) scale(0.3);
    }
    83.3333333333% {
      transform: translateX(44vw) translateY(-46vh) scale(0.63);
    }
    88.8888888889% {
      transform: translateX(41vw) translateY(40vh) scale(0.46);
    }
    94.4444444444% {
      transform: translateX(-21vw) translateY(21vh) scale(0.8);
    }
    100% {
      transform: translateX(-19vw) translateY(31vh) scale(0.8);
    }
  }
  .firefly:nth-child(2) {
    animation-name: move2;
  }
  .firefly:nth-child(2)::before {
    animation-duration: 11s;
  }
  .firefly:nth-child(2)::after {
    animation-duration: 11s, 6423ms;
    animation-delay: 0ms, 3951ms;
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(1vw) translateY(25vh) scale(0.44);
    }
    5.2631578947% {
      transform: translateX(-36vw) translateY(-48vh) scale(0.55);
    }
    10.5263157895% {
      transform: translateX(-4vw) translateY(23vh) scale(0.99);
    }
    15.7894736842% {
      transform: translateX(10vw) translateY(23vh) scale(0.37);
    }
    21.0526315789% {
      transform: translateX(-19vw) translateY(2vh) scale(0.91);
    }
    26.3157894737% {
      transform: translateX(28vw) translateY(-34vh) scale(0.57);
    }
    31.5789473684% {
      transform: translateX(44vw) translateY(48vh) scale(0.86);
    }
    36.8421052632% {
      transform: translateX(-6vw) translateY(-49vh) scale(0.46);
    }
    42.1052631579% {
      transform: translateX(-40vw) translateY(11vh) scale(0.82);
    }
    47.3684210526% {
      transform: translateX(24vw) translateY(16vh) scale(0.95);
    }
    52.6315789474% {
      transform: translateX(14vw) translateY(13vh) scale(0.62);
    }
    57.8947368421% {
      transform: translateX(29vw) translateY(-2vh) scale(0.6);
    }
    63.1578947368% {
      transform: translateX(37vw) translateY(45vh) scale(0.65);
    }
    68.4210526316% {
      transform: translateX(-9vw) translateY(6vh) scale(0.85);
    }
    73.6842105263% {
      transform: translateX(-11vw) translateY(16vh) scale(0.72);
    }
    78.9473684211% {
      transform: translateX(7vw) translateY(11vh) scale(0.46);
    }
    84.2105263158% {
      transform: translateX(24vw) translateY(6vh) scale(0.38);
    }
    89.4736842105% {
      transform: translateX(11vw) translateY(-10vh) scale(0.98);
    }
    94.7368421053% {
      transform: translateX(13vw) translateY(-10vh) scale(0.3);
    }
    100% {
      transform: translateX(22vw) translateY(-41vh) scale(0.47);
    }
  }
  .firefly:nth-child(3) {
    animation-name: move3;
  }
  .firefly:nth-child(3)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(3)::after {
    animation-duration: 15s, 5084ms;
    animation-delay: 0ms, 8075ms;
  }
  
  @keyframes move3 {
    0% {
      transform: translateX(36vw) translateY(38vh) scale(0.59);
    }
    5.5555555556% {
      transform: translateX(38vw) translateY(-48vh) scale(0.42);
    }
    11.1111111111% {
      transform: translateX(5vw) translateY(-25vh) scale(0.95);
    }
    16.6666666667% {
      transform: translateX(-46vw) translateY(-7vh) scale(0.77);
    }
    22.2222222222% {
      transform: translateX(-27vw) translateY(19vh) scale(1);
    }
    27.7777777778% {
      transform: translateX(4vw) translateY(30vh) scale(0.91);
    }
    33.3333333333% {
      transform: translateX(-16vw) translateY(20vh) scale(0.28);
    }
    38.8888888889% {
      transform: translateX(-12vw) translateY(9vh) scale(0.39);
    }
    44.4444444444% {
      transform: translateX(-38vw) translateY(-13vh) scale(0.52);
    }
    50% {
      transform: translateX(47vw) translateY(-8vh) scale(0.71);
    }
    55.5555555556% {
      transform: translateX(-35vw) translateY(-6vh) scale(0.53);
    }
    61.1111111111% {
      transform: translateX(-24vw) translateY(-27vh) scale(0.7);
    }
    66.6666666667% {
      transform: translateX(7vw) translateY(-26vh) scale(0.41);
    }
    72.2222222222% {
      transform: translateX(-25vw) translateY(20vh) scale(0.79);
    }
    77.7777777778% {
      transform: translateX(35vw) translateY(-35vh) scale(0.64);
    }
    83.3333333333% {
      transform: translateX(23vw) translateY(-26vh) scale(0.49);
    }
    88.8888888889% {
      transform: translateX(32vw) translateY(23vh) scale(0.41);
    }
    94.4444444444% {
      transform: translateX(33vw) translateY(27vh) scale(0.67);
    }
    100% {
      transform: translateX(-30vw) translateY(-26vh) scale(0.71);
    }
  }
  .firefly:nth-child(4) {
    animation-name: move4;
  }
  .firefly:nth-child(4)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(4)::after {
    animation-duration: 14s, 8695ms;
    animation-delay: 0ms, 2175ms;
  }
  
  @keyframes move4 {
    0% {
      transform: translateX(-1vw) translateY(21vh) scale(0.92);
    }
    5.8823529412% {
      transform: translateX(-32vw) translateY(-35vh) scale(0.65);
    }
    11.7647058824% {
      transform: translateX(-6vw) translateY(-47vh) scale(0.69);
    }
    17.6470588235% {
      transform: translateX(-45vw) translateY(-16vh) scale(0.41);
    }
    23.5294117647% {
      transform: translateX(-29vw) translateY(-21vh) scale(0.68);
    }
    29.4117647059% {
      transform: translateX(-7vw) translateY(-45vh) scale(0.43);
    }
    35.2941176471% {
      transform: translateX(20vw) translateY(-48vh) scale(0.51);
    }
    41.1764705882% {
      transform: translateX(-5vw) translateY(-46vh) scale(0.45);
    }
    47.0588235294% {
      transform: translateX(-14vw) translateY(-21vh) scale(0.61);
    }
    52.9411764706% {
      transform: translateX(6vw) translateY(35vh) scale(0.58);
    }
    58.8235294118% {
      transform: translateX(-33vw) translateY(11vh) scale(0.4);
    }
    64.7058823529% {
      transform: translateX(48vw) translateY(11vh) scale(0.93);
    }
    70.5882352941% {
      transform: translateX(-24vw) translateY(-33vh) scale(0.61);
    }
    76.4705882353% {
      transform: translateX(-4vw) translateY(-18vh) scale(0.82);
    }
    82.3529411765% {
      transform: translateX(30vw) translateY(5vh) scale(0.48);
    }
    88.2352941176% {
      transform: translateX(0vw) translateY(43vh) scale(0.39);
    }
    94.1176470588% {
      transform: translateX(28vw) translateY(12vh) scale(0.27);
    }
    100% {
      transform: translateX(6vw) translateY(0vh) scale(0.45);
    }
  }
  .firefly:nth-child(5) {
    animation-name: move5;
  }
  .firefly:nth-child(5)::before {
    animation-duration: 14s;
  }
  .firefly:nth-child(5)::after {
    animation-duration: 14s, 8610ms;
    animation-delay: 0ms, 3605ms;
  }
  
  @keyframes move5 {
    0% {
      transform: translateX(-10vw) translateY(40vh) scale(0.31);
    }
    3.5714285714% {
      transform: translateX(46vw) translateY(30vh) scale(0.34);
    }
    7.1428571429% {
      transform: translateX(-36vw) translateY(13vh) scale(0.76);
    }
    10.7142857143% {
      transform: translateX(-7vw) translateY(7vh) scale(0.77);
    }
    14.2857142857% {
      transform: translateX(-19vw) translateY(-24vh) scale(0.41);
    }
    17.8571428571% {
      transform: translateX(-18vw) translateY(13vh) scale(0.84);
    }
    21.4285714286% {
      transform: translateX(-16vw) translateY(50vh) scale(0.4);
    }
    25% {
      transform: translateX(-30vw) translateY(-3vh) scale(0.63);
    }
    28.5714285714% {
      transform: translateX(19vw) translateY(31vh) scale(0.7);
    }
    32.1428571429% {
      transform: translateX(30vw) translateY(-45vh) scale(0.71);
    }
    35.7142857143% {
      transform: translateX(-31vw) translateY(-2vh) scale(0.67);
    }
    39.2857142857% {
      transform: translateX(47vw) translateY(14vh) scale(0.33);
    }
    42.8571428571% {
      transform: translateX(6vw) translateY(22vh) scale(0.99);
    }
    46.4285714286% {
      transform: translateX(-24vw) translateY(-45vh) scale(0.65);
    }
    50% {
      transform: translateX(-4vw) translateY(-6vh) scale(0.94);
    }
    53.5714285714% {
      transform: translateX(28vw) translateY(-23vh) scale(0.59);
    }
    57.1428571429% {
      transform: translateX(-14vw) translateY(21vh) scale(0.69);
    }
    60.7142857143% {
      transform: translateX(9vw) translateY(14vh) scale(0.98);
    }
    64.2857142857% {
      transform: translateX(-48vw) translateY(-22vh) scale(0.92);
    }
    67.8571428571% {
      transform: translateX(4vw) translateY(-27vh) scale(0.29);
    }
    71.4285714286% {
      transform: translateX(-7vw) translateY(26vh) scale(0.4);
    }
    75% {
      transform: translateX(11vw) translateY(11vh) scale(0.4);
    }
    78.5714285714% {
      transform: translateX(-47vw) translateY(19vh) scale(0.82);
    }
    82.1428571429% {
      transform: translateX(50vw) translateY(46vh) scale(0.3);
    }
    85.7142857143% {
      transform: translateX(3vw) translateY(45vh) scale(0.42);
    }
    89.2857142857% {
      transform: translateX(47vw) translateY(20vh) scale(0.44);
    }
    92.8571428571% {
      transform: translateX(46vw) translateY(22vh) scale(0.35);
    }
    96.4285714286% {
      transform: translateX(-13vw) translateY(-43vh) scale(0.7);
    }
    100% {
      transform: translateX(38vw) translateY(22vh) scale(0.59);
    }
  }
  .firefly:nth-child(6) {
    animation-name: move6;
  }
  .firefly:nth-child(6)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(6)::after {
    animation-duration: 13s, 9690ms;
    animation-delay: 0ms, 3288ms;
  }
  
  @keyframes move6 {
    0% {
      transform: translateX(-28vw) translateY(22vh) scale(0.3);
    }
    5.5555555556% {
      transform: translateX(20vw) translateY(-7vh) scale(0.67);
    }
    11.1111111111% {
      transform: translateX(46vw) translateY(41vh) scale(0.74);
    }
    16.6666666667% {
      transform: translateX(-17vw) translateY(-11vh) scale(0.49);
    }
    22.2222222222% {
      transform: translateX(-23vw) translateY(11vh) scale(0.33);
    }
    27.7777777778% {
      transform: translateX(-13vw) translateY(-24vh) scale(0.9);
    }
    33.3333333333% {
      transform: translateX(-29vw) translateY(-47vh) scale(0.99);
    }
    38.8888888889% {
      transform: translateX(3vw) translateY(26vh) scale(0.97);
    }
    44.4444444444% {
      transform: translateX(26vw) translateY(-48vh) scale(0.63);
    }
    50% {
      transform: translateX(-3vw) translateY(44vh) scale(0.36);
    }
    55.5555555556% {
      transform: translateX(-7vw) translateY(32vh) scale(0.28);
    }
    61.1111111111% {
      transform: translateX(-43vw) translateY(19vh) scale(0.35);
    }
    66.6666666667% {
      transform: translateX(-44vw) translateY(-37vh) scale(0.26);
    }
    72.2222222222% {
      transform: translateX(-9vw) translateY(10vh) scale(0.6);
    }
    77.7777777778% {
      transform: translateX(16vw) translateY(14vh) scale(0.87);
    }
    83.3333333333% {
      transform: translateX(6vw) translateY(-43vh) scale(0.32);
    }
    88.8888888889% {
      transform: translateX(-8vw) translateY(50vh) scale(0.89);
    }
    94.4444444444% {
      transform: translateX(-33vw) translateY(36vh) scale(0.99);
    }
    100% {
      transform: translateX(20vw) translateY(15vh) scale(0.74);
    }
  }
  .firefly:nth-child(7) {
    animation-name: move7;
  }
  .firefly:nth-child(7)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(7)::after {
    animation-duration: 15s, 9705ms;
    animation-delay: 0ms, 4896ms;
  }
  
  @keyframes move7 {
    0% {
      transform: translateX(-20vw) translateY(-4vh) scale(0.33);
    }
    4.7619047619% {
      transform: translateX(28vw) translateY(-47vh) scale(0.33);
    }
    9.5238095238% {
      transform: translateX(-9vw) translateY(1vh) scale(0.69);
    }
    14.2857142857% {
      transform: translateX(-12vw) translateY(-41vh) scale(0.26);
    }
    19.0476190476% {
      transform: translateX(-8vw) translateY(-22vh) scale(0.98);
    }
    23.8095238095% {
      transform: translateX(37vw) translateY(42vh) scale(0.74);
    }
    28.5714285714% {
      transform: translateX(21vw) translateY(-18vh) scale(0.96);
    }
    33.3333333333% {
      transform: translateX(0vw) translateY(-17vh) scale(0.44);
    }
    38.0952380952% {
      transform: translateX(36vw) translateY(25vh) scale(0.44);
    }
    42.8571428571% {
      transform: translateX(-24vw) translateY(2vh) scale(0.61);
    }
    47.619047619% {
      transform: translateX(-48vw) translateY(3vh) scale(0.7);
    }
    52.380952381% {
      transform: translateX(6vw) translateY(-43vh) scale(0.5);
    }
    57.1428571429% {
      transform: translateX(-6vw) translateY(40vh) scale(0.87);
    }
    61.9047619048% {
      transform: translateX(-17vw) translateY(13vh) scale(0.93);
    }
    66.6666666667% {
      transform: translateX(49vw) translateY(1vh) scale(0.31);
    }
    71.4285714286% {
      transform: translateX(22vw) translateY(5vh) scale(0.31);
    }
    76.1904761905% {
      transform: translateX(-26vw) translateY(-18vh) scale(0.51);
    }
    80.9523809524% {
      transform: translateX(35vw) translateY(27vh) scale(0.78);
    }
    85.7142857143% {
      transform: translateX(14vw) translateY(-32vh) scale(0.72);
    }
    90.4761904762% {
      transform: translateX(12vw) translateY(-29vh) scale(0.77);
    }
    95.2380952381% {
      transform: translateX(-43vw) translateY(42vh) scale(0.9);
    }
    100% {
      transform: translateX(0vw) translateY(27vh) scale(0.7);
    }
  }
  .firefly:nth-child(8) {
    animation-name: move8;
  }
  .firefly:nth-child(8)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(8)::after {
    animation-duration: 16s, 6811ms;
    animation-delay: 0ms, 5223ms;
  }
  
  @keyframes move8 {
    0% {
      transform: translateX(-15vw) translateY(9vh) scale(0.93);
    }
    3.8461538462% {
      transform: translateX(27vw) translateY(-7vh) scale(0.36);
    }
    7.6923076923% {
      transform: translateX(-1vw) translateY(-40vh) scale(0.27);
    }
    11.5384615385% {
      transform: translateX(29vw) translateY(-3vh) scale(0.56);
    }
    15.3846153846% {
      transform: translateX(19vw) translateY(19vh) scale(0.44);
    }
    19.2307692308% {
      transform: translateX(22vw) translateY(-8vh) scale(0.39);
    }
    23.0769230769% {
      transform: translateX(-7vw) translateY(-24vh) scale(0.49);
    }
    26.9230769231% {
      transform: translateX(31vw) translateY(28vh) scale(0.33);
    }
    30.7692307692% {
      transform: translateX(-45vw) translateY(36vh) scale(0.53);
    }
    34.6153846154% {
      transform: translateX(15vw) translateY(4vh) scale(0.46);
    }
    38.4615384615% {
      transform: translateX(-47vw) translateY(-3vh) scale(0.63);
    }
    42.3076923077% {
      transform: translateX(33vw) translateY(31vh) scale(0.32);
    }
    46.1538461538% {
      transform: translateX(25vw) translateY(-38vh) scale(0.72);
    }
    50% {
      transform: translateX(22vw) translateY(-9vh) scale(0.91);
    }
    53.8461538462% {
      transform: translateX(-2vw) translateY(6vh) scale(0.26);
    }
    57.6923076923% {
      transform: translateX(11vw) translateY(20vh) scale(0.29);
    }
    61.5384615385% {
      transform: translateX(35vw) translateY(50vh) scale(0.95);
    }
    65.3846153846% {
      transform: translateX(-41vw) translateY(-42vh) scale(0.99);
    }
    69.2307692308% {
      transform: translateX(24vw) translateY(50vh) scale(0.67);
    }
    73.0769230769% {
      transform: translateX(-1vw) translateY(47vh) scale(0.51);
    }
    76.9230769231% {
      transform: translateX(31vw) translateY(11vh) scale(0.39);
    }
    80.7692307692% {
      transform: translateX(-46vw) translateY(13vh) scale(0.32);
    }
    84.6153846154% {
      transform: translateX(14vw) translateY(44vh) scale(0.83);
    }
    88.4615384615% {
      transform: translateX(-20vw) translateY(26vh) scale(0.9);
    }
    92.3076923077% {
      transform: translateX(-5vw) translateY(34vh) scale(0.65);
    }
    96.1538461538% {
      transform: translateX(-18vw) translateY(-4vh) scale(0.68);
    }
    100% {
      transform: translateX(7vw) translateY(-13vh) scale(0.73);
    }
  }
  .firefly:nth-child(9) {
    animation-name: move9;
  }
  .firefly:nth-child(9)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(9)::after {
    animation-duration: 16s, 7455ms;
    animation-delay: 0ms, 1264ms;
  }
  
  @keyframes move9 {
    0% {
      transform: translateX(-15vw) translateY(-16vh) scale(0.65);
    }
    5.5555555556% {
      transform: translateX(47vw) translateY(47vh) scale(0.34);
    }
    11.1111111111% {
      transform: translateX(-34vw) translateY(30vh) scale(0.93);
    }
    16.6666666667% {
      transform: translateX(-47vw) translateY(-41vh) scale(0.91);
    }
    22.2222222222% {
      transform: translateX(12vw) translateY(30vh) scale(0.64);
    }
    27.7777777778% {
      transform: translateX(44vw) translateY(21vh) scale(0.59);
    }
    33.3333333333% {
      transform: translateX(36vw) translateY(-43vh) scale(0.84);
    }
    38.8888888889% {
      transform: translateX(27vw) translateY(17vh) scale(0.78);
    }
    44.4444444444% {
      transform: translateX(-2vw) translateY(11vh) scale(0.38);
    }
    50% {
      transform: translateX(-12vw) translateY(-24vh) scale(0.41);
    }
    55.5555555556% {
      transform: translateX(-25vw) translateY(32vh) scale(0.87);
    }
    61.1111111111% {
      transform: translateX(9vw) translateY(-43vh) scale(0.51);
    }
    66.6666666667% {
      transform: translateX(14vw) translateY(-35vh) scale(0.47);
    }
    72.2222222222% {
      transform: translateX(-43vw) translateY(22vh) scale(0.97);
    }
    77.7777777778% {
      transform: translateX(13vw) translateY(-32vh) scale(0.89);
    }
    83.3333333333% {
      transform: translateX(1vw) translateY(9vh) scale(0.51);
    }
    88.8888888889% {
      transform: translateX(24vw) translateY(5vh) scale(0.39);
    }
    94.4444444444% {
      transform: translateX(-32vw) translateY(50vh) scale(0.86);
    }
    100% {
      transform: translateX(42vw) translateY(48vh) scale(0.53);
    }
  }
  .firefly:nth-child(10) {
    animation-name: move10;
  }
  .firefly:nth-child(10)::before {
    animation-duration: 13s;
  }
  .firefly:nth-child(10)::after {
    animation-duration: 13s, 7345ms;
    animation-delay: 0ms, 5714ms;
  }
  
  @keyframes move10 {
    0% {
      transform: translateX(-13vw) translateY(-45vh) scale(0.64);
    }
    4.5454545455% {
      transform: translateX(13vw) translateY(-36vh) scale(0.38);
    }
    9.0909090909% {
      transform: translateX(-1vw) translateY(-7vh) scale(0.43);
    }
    13.6363636364% {
      transform: translateX(24vw) translateY(7vh) scale(0.47);
    }
    18.1818181818% {
      transform: translateX(-24vw) translateY(7vh) scale(0.98);
    }
    22.7272727273% {
      transform: translateX(-35vw) translateY(-30vh) scale(0.29);
    }
    27.2727272727% {
      transform: translateX(-28vw) translateY(-48vh) scale(0.55);
    }
    31.8181818182% {
      transform: translateX(-26vw) translateY(-20vh) scale(0.5);
    }
    36.3636363636% {
      transform: translateX(-34vw) translateY(-25vh) scale(0.62);
    }
    40.9090909091% {
      transform: translateX(-2vw) translateY(11vh) scale(0.33);
    }
    45.4545454545% {
      transform: translateX(50vw) translateY(-13vh) scale(0.33);
    }
    50% {
      transform: translateX(-11vw) translateY(-36vh) scale(0.71);
    }
    54.5454545455% {
      transform: translateX(4vw) translateY(-12vh) scale(0.77);
    }
    59.0909090909% {
      transform: translateX(49vw) translateY(1vh) scale(0.72);
    }
    63.6363636364% {
      transform: translateX(32vw) translateY(31vh) scale(0.57);
    }
    68.1818181818% {
      transform: translateX(-41vw) translateY(27vh) scale(0.88);
    }
    72.7272727273% {
      transform: translateX(22vw) translateY(-23vh) scale(0.91);
    }
    77.2727272727% {
      transform: translateX(16vw) translateY(-37vh) scale(0.95);
    }
    81.8181818182% {
      transform: translateX(47vw) translateY(-13vh) scale(0.34);
    }
    86.3636363636% {
      transform: translateX(8vw) translateY(-33vh) scale(0.73);
    }
    90.9090909091% {
      transform: translateX(8vw) translateY(-28vh) scale(0.9);
    }
    95.4545454545% {
      transform: translateX(-26vw) translateY(50vh) scale(0.79);
    }
    100% {
      transform: translateX(-29vw) translateY(-18vh) scale(0.39);
    }
  }
  .firefly:nth-child(11) {
    animation-name: move11;
  }
  .firefly:nth-child(11)::before {
    animation-duration: 16s;
  }
  .firefly:nth-child(11)::after {
    animation-duration: 16s, 7837ms;
    animation-delay: 0ms, 8126ms;
  }
  
  @keyframes move11 {
    0% {
      transform: translateX(45vw) translateY(38vh) scale(0.95);
    }
    5.5555555556% {
      transform: translateX(24vw) translateY(43vh) scale(0.93);
    }
    11.1111111111% {
      transform: translateX(30vw) translateY(-28vh) scale(0.72);
    }
    16.6666666667% {
      transform: translateX(30vw) translateY(-28vh) scale(0.89);
    }
    22.2222222222% {
      transform: translateX(15vw) translateY(10vh) scale(0.71);
    }
    27.7777777778% {
      transform: translateX(6vw) translateY(-22vh) scale(0.76);
    }
    33.3333333333% {
      transform: translateX(27vw) translateY(-17vh) scale(0.68);
    }
    38.8888888889% {
      transform: translateX(1vw) translateY(-49vh) scale(0.32);
    }
    44.4444444444% {
      transform: translateX(39vw) translateY(41vh) scale(0.9);
    }
    50% {
      transform: translateX(34vw) translateY(-21vh) scale(0.85);
    }
    55.5555555556% {
      transform: translateX(-5vw) translateY(39vh) scale(0.97);
    }
    61.1111111111% {
      transform: translateX(31vw) translateY(33vh) scale(0.74);
    }
    66.6666666667% {
      transform: translateX(-15vw) translateY(-33vh) scale(0.81);
    }
    72.2222222222% {
      transform: translateX(-20vw) translateY(33vh) scale(0.3);
    }
    77.7777777778% {
      transform: translateX(28vw) translateY(-7vh) scale(0.33);
    }
    83.3333333333% {
      transform: translateX(-27vw) translateY(42vh) scale(0.97);
    }
    88.8888888889% {
      transform: translateX(46vw) translateY(13vh) scale(0.6);
    }
    94.4444444444% {
      transform: translateX(32vw) translateY(-14vh) scale(0.32);
    }
    100% {
      transform: translateX(-3vw) translateY(-19vh) scale(0.83);
    }
  }
  .firefly:nth-child(12) {
    animation-name: move12;
  }
  .firefly:nth-child(12)::before {
    animation-duration: 17s;
  }
  .firefly:nth-child(12)::after {
    animation-duration: 17s, 6285ms;
    animation-delay: 0ms, 2926ms;
  }
  
  @keyframes move12 {
    0% {
      transform: translateX(30vw) translateY(25vh) scale(0.94);
    }
    5.8823529412% {
      transform: translateX(35vw) translateY(37vh) scale(0.54);
    }
    11.7647058824% {
      transform: translateX(-39vw) translateY(14vh) scale(1);
    }
    17.6470588235% {
      transform: translateX(-14vw) translateY(-10vh) scale(0.94);
    }
    23.5294117647% {
      transform: translateX(-35vw) translateY(-4vh) scale(0.46);
    }
    29.4117647059% {
      transform: translateX(14vw) translateY(24vh) scale(0.98);
    }
    35.2941176471% {
      transform: translateX(28vw) translateY(-32vh) scale(0.94);
    }
    41.1764705882% {
      transform: translateX(20vw) translateY(-36vh) scale(0.74);
    }
    47.0588235294% {
      transform: translateX(21vw) translateY(4vh) scale(0.63);
    }
    52.9411764706% {
      transform: translateX(-5vw) translateY(13vh) scale(0.79);
    }
    58.8235294118% {
      transform: translateX(-28vw) translateY(-35vh) scale(0.61);
    }
    64.7058823529% {
      transform: translateX(-46vw) translateY(40vh) scale(0.31);
    }
    70.5882352941% {
      transform: translateX(26vw) translateY(6vh) scale(0.86);
    }
    76.4705882353% {
      transform: translateX(-44vw) translateY(20vh) scale(0.49);
    }
    82.3529411765% {
      transform: translateX(43vw) translateY(31vh) scale(0.56);
    }
    88.2352941176% {
      transform: translateX(46vw) translateY(42vh) scale(0.61);
    }
    94.1176470588% {
      transform: translateX(45vw) translateY(7vh) scale(0.57);
    }
    100% {
      transform: translateX(19vw) translateY(2vh) scale(0.34);
    }
  }
  .firefly:nth-child(13) {
    animation-name: move13;
  }
  .firefly:nth-child(13)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(13)::after {
    animation-duration: 18s, 5054ms;
    animation-delay: 0ms, 3310ms;
  }
  
  @keyframes move13 {
    0% {
      transform: translateX(7vw) translateY(46vh) scale(0.92);
    }
    4.347826087% {
      transform: translateX(5vw) translateY(3vh) scale(0.69);
    }
    8.6956521739% {
      transform: translateX(-37vw) translateY(8vh) scale(0.33);
    }
    13.0434782609% {
      transform: translateX(-20vw) translateY(-31vh) scale(0.54);
    }
    17.3913043478% {
      transform: translateX(42vw) translateY(10vh) scale(0.33);
    }
    21.7391304348% {
      transform: translateX(-45vw) translateY(0vh) scale(0.5);
    }
    26.0869565217% {
      transform: translateX(50vw) translateY(30vh) scale(0.8);
    }
    30.4347826087% {
      transform: translateX(-13vw) translateY(-6vh) scale(0.44);
    }
    34.7826086957% {
      transform: translateX(-1vw) translateY(28vh) scale(0.56);
    }
    39.1304347826% {
      transform: translateX(18vw) translateY(25vh) scale(0.74);
    }
    43.4782608696% {
      transform: translateX(24vw) translateY(-5vh) scale(0.87);
    }
    47.8260869565% {
      transform: translateX(-9vw) translateY(49vh) scale(0.44);
    }
    52.1739130435% {
      transform: translateX(-36vw) translateY(1vh) scale(0.68);
    }
    56.5217391304% {
      transform: translateX(29vw) translateY(-13vh) scale(0.73);
    }
    60.8695652174% {
      transform: translateX(-20vw) translateY(45vh) scale(0.32);
    }
    65.2173913043% {
      transform: translateX(-43vw) translateY(-1vh) scale(0.56);
    }
    69.5652173913% {
      transform: translateX(-8vw) translateY(-12vh) scale(0.62);
    }
    73.9130434783% {
      transform: translateX(19vw) translateY(-29vh) scale(0.6);
    }
    78.2608695652% {
      transform: translateX(-22vw) translateY(-5vh) scale(0.8);
    }
    82.6086956522% {
      transform: translateX(-47vw) translateY(31vh) scale(0.4);
    }
    86.9565217391% {
      transform: translateX(-40vw) translateY(-47vh) scale(0.39);
    }
    91.3043478261% {
      transform: translateX(50vw) translateY(-3vh) scale(0.54);
    }
    95.652173913% {
      transform: translateX(8vw) translateY(37vh) scale(0.9);
    }
    100% {
      transform: translateX(-33vw) translateY(-4vh) scale(0.27);
    }
  }
  .firefly:nth-child(14) {
    animation-name: move14;
  }
  .firefly:nth-child(14)::before {
    animation-duration: 18s;
  }
  .firefly:nth-child(14)::after {
    animation-duration: 18s, 5592ms;
    animation-delay: 0ms, 2578ms;
  }
  
  @keyframes move14 {
    0% {
      transform: translateX(-36vw) translateY(-15vh) scale(0.88);
    }
    4.1666666667% {
      transform: translateX(-46vw) translateY(20vh) scale(0.8);
    }
    8.3333333333% {
      transform: translateX(18vw) translateY(-35vh) scale(0.77);
    }
    12.5% {
      transform: translateX(-15vw) translateY(8vh) scale(0.96);
    }
    16.6666666667% {
      transform: translateX(8vw) translateY(8vh) scale(0.63);
    }
    20.8333333333% {
      transform: translateX(33vw) translateY(37vh) scale(0.38);
    }
    25% {
      transform: translateX(-3vw) translateY(15vh) scale(0.27);
    }
    29.1666666667% {
      transform: translateX(-47vw) translateY(-13vh) scale(0.55);
    }
    33.3333333333% {
      transform: translateX(33vw) translateY(-32vh) scale(0.73);
    }
    37.5% {
      transform: translateX(31vw) translateY(-14vh) scale(0.48);
    }
    41.6666666667% {
      transform: translateX(-38vw) translateY(-19vh) scale(0.27);
    }
    45.8333333333% {
      transform: translateX(-14vw) translateY(-9vh) scale(0.69);
    }
    50% {
      transform: translateX(2vw) translateY(35vh) scale(0.52);
    }
    54.1666666667% {
      transform: translateX(7vw) translateY(-13vh) scale(0.49);
    }
    58.3333333333% {
      transform: translateX(-11vw) translateY(43vh) scale(0.93);
    }
    62.5% {
      transform: translateX(-14vw) translateY(14vh) scale(0.92);
    }
    66.6666666667% {
      transform: translateX(50vw) translateY(40vh) scale(0.32);
    }
    70.8333333333% {
      transform: translateX(-1vw) translateY(-31vh) scale(0.38);
    }
    75% {
      transform: translateX(43vw) translateY(-4vh) scale(0.5);
    }
    79.1666666667% {
      transform: translateX(-41vw) translateY(18vh) scale(0.68);
    }
    83.3333333333% {
      transform: translateX(8vw) translateY(41vh) scale(0.74);
    }
    87.5% {
      transform: translateX(-38vw) translateY(-23vh) scale(0.61);
    }
    91.6666666667% {
      transform: translateX(-46vw) translateY(38vh) scale(0.66);
    }
    95.8333333333% {
      transform: translateX(-15vw) translateY(-16vh) scale(0.55);
    }
    100% {
      transform: translateX(-3vw) translateY(17vh) scale(0.29);
    }
  }
  .firefly:nth-child(15) {
    animation-name: move15;
  }
  .firefly:nth-child(15)::before {
    animation-duration: 15s;
  }
  .firefly:nth-child(15)::after {
    animation-duration: 15s, 6856ms;
    animation-delay: 0ms, 3488ms;
  }
  
  @keyframes move15 {
    0% {
      transform: translateX(-15vw) translateY(5vh) scale(0.66);
    }
    4.1666666667% {
      transform: translateX(49vw) translateY(5vh) scale(0.93);
    }
    8.3333333333% {
      transform: translateX(-1vw) translateY(-19vh) scale(0.97);
    }
    12.5% {
      transform: translateX(-14vw) translateY(-36vh) scale(0.61);
    }
    16.6666666667% {
      transform: translateX(-44vw) translateY(37vh) scale(1);
    }
    20.8333333333% {
      transform: translateX(2vw) translateY(36vh) scale(0.96);
    }
    25% {
      transform: translateX(-31vw) translateY(-5vh) scale(0.27);
    }
    29.1666666667% {
      transform: translateX(-34vw) translateY(-29vh) scale(0.87);
    }
    33.3333333333% {
      transform: translateX(18vw) translateY(-6vh) scale(0.96);
    }
    37.5% {
      transform: translateX(48vw) translateY(-17vh) scale(0.74);
    }
    41.6666666667% {
      transform: translateX(-24vw) translateY(48vh) scale(0.65);
    }
    45.8333333333% {
      transform: translateX(26vw) translateY(-14vh) scale(0.3);
    }
    50% {
      transform: translateX(-40vw) translateY(-7vh) scale(0.47);
    }
    54.1666666667% {
      transform: translateX(-12vw) translateY(48vh) scale(0.73);
    }
    58.3333333333% {
      transform: translateX(28vw) translateY(-13vh) scale(0.29);
    }
    62.5% {
      transform: translateX(-20vw) translateY(-43vh) scale(0.48);
    }
    66.6666666667% {
      transform: translateX(4vw) translateY(-35vh) scale(0.51);
    }
    70.8333333333% {
      transform: translateX(-23vw) translateY(17vh) scale(0.67);
    }
    75% {
      transform: translateX(-5vw) translateY(-20vh) scale(0.32);
    }
    79.1666666667% {
      transform: translateX(-34vw) translateY(36vh) scale(0.49);
    }
    83.3333333333% {
      transform: translateX(-18vw) translateY(50vh) scale(0.67);
    }
    87.5% {
      transform: translateX(6vw) translateY(-48vh) scale(0.34);
    }
    91.6666666667% {
      transform: translateX(-33vw) translateY(20vh) scale(0.55);
    }
    95.8333333333% {
      transform: translateX(27vw) translateY(-39vh) scale(0.5);
    }
    100% {
      transform: translateX(-7vw) translateY(42vh) scale(0.89);
    }
  }
  @keyframes drift {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes flash {
    0%, 30%, 100% {
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
      opacity: 1;
      box-shadow: 0 0 2vw 0.4vw yellow;
    }
  }